*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headwrap{
    /* background-color: black;
    height: 120vh;
    background-image: url(vimages/1249959543.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.header{
    background-color: #010101;
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
.header:hover{
    background-color: aliceblue;
}
.header .nav-li ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}
.header a{
    text-decoration: none;
    color: gray;
    padding: 0.5rem;
}
.header a:hover{
    color: black;
    border: 1px solid red;
    border-radius: 100px;
}
.part{
    background-color: black;
    min-height: 100vh;
    background-image: url(assets/img/1249959543.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.marg{
    padding: 10rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2,1fr);
}
.logo2{
    display: grid;
    place-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    place-content: center;
    background-color: black;
}
.form-box {
    min-width: 100px;
    background:black;
    overflow: hidden;
    /* border-radius: 16px; */
    color:whitesmoke;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}  
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}
  
  /*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}
  
.subtitle {
    font-size: 1rem;
    color: #666;
}
  
  /*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}
  
.input {
    margin: 0.5rem;
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}
  
.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color:black;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}
.form-section p{
    font-size: 20px;
}
  
.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}
  
.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}
  
  /*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}
  
.form button:hover {
    background-color: #005ce6;
}
.mainfooter{
    min-height: 40vh;
    background-color: #292d36;
    display: block;
    
 }
.inner{
    padding-top: 70px;
    padding-bottom: 100px;
    
}
.container{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 4rem;  
    border-bottom: 2px solid gray;
}
.row{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row a:hover{
    color: red;
}
.link a:hover{
    text-decoration: underline;  
}
.mt-45{
    margin-top: 5px;
}
.footer_title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.footer_info .info {
    margin-top: 15px;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer_info .info li {
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
}
.footer_link .link {
    margin-top: 10px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer_link .link li a {
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
    transition: all .3s ease-out 0s;
}
a {
    display: inline-block;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.touchbutton{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.6rem;
    border-radius: 5px;
    border: none;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: ease-in-out 0.1s;
}
.touchbutton:hover{
    background-color: red;
    width: 20%;
}
.social{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.social a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}